body {
    font-family: Arial, sans-serif;
    background-color: #b1c7e7;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  header {
    width: 100%;
    background-color: #d0dcff;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
  }
  
  .sidebar {
    width: 25%;
    background-color: #8bc7d6;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar a {
    text-decoration: none;
    display: block;
    margin: 5px 0;
  }
  
  main {
    width: 75%;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .float-left {
    float: left;
    margin: 0 15px 10px 0;
    width: 150px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid rgb(125, 209, 167);
    padding: 5px;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      order: -1;
    }
  
    main {
      width: 100%;
    }
  }
  h8{
font-weight: 100px;
  }
  